*{
  margin :0;
  padding:0;
  box-sizing: border-box;
}

 
@media  only screen and (max-width: 749px) {
     .grid-container {
      display:grid;
      gap:10px;
      grid-template-columns: auto auto;
  
     }
    
    }

  nav{
    background-color:#a0c49d;
    text-align: right; 
    padding: 15px;
    overflow: hidden;
    top:0px;
    position:sticky;
    width:100%;
    z-index:1;
    
    
  }

  nav img{
    position:relative;
    height:6vh;
  
  

  }
    
  nav ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li{
    display:inline-block;
    padding:0px 50px; 
    font-size: 28px;
  }

  nav ul li a{
    color:darkblue;
    text-decoration: none;
  }

  nav ul li a:hover { 
  color:brown;
  }
  
  #home{
  
    background-image: url('image.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    height: 90vh;
  } 
  #home div{
    position:absolute;
    transform: translate(-50%,-50%) ;
    top:50%;
    left:50%;
    text-align: center;
  }
  #home h1{
    color:white;
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow:#000 1px 0 10px;
  }

  #about {
    margin:0;
    padding:100px; 
    background-image:url('thinking (2).png'); 
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    height: 100vh;
  }

  #about h4{
    font-size:16px;
    position: absolute;
    transform: translate(-50%,-50%) ;
    top:38%;
    left:55%;  
  }

  #skills div{
    line-height: 40px;
    
    
  }

  #skills h1{
    text-align: center;
    font-size: 32px;
    color:#006400;

  }
  #skills {
    height: 100vh;
    padding:40px;
    background-color:#e1ecc8;
    position:relative;
  }

  #skills p{
    font-size: 28px;
  }

  .skills-container{
    width:50%;
    
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    line-height: 10px;
    border-radius: 5px;
    background: #c4c0c0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:darkblue;
    cursor: pointer;
  }
   #skills img {
    height: 90vh;
    position:absolute;
    top:0;
    right:0;
    margin-right:40px;
    
   }
  
  .btn {
    background-color:rgb(2, 97, 2);
    border: none;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
  }

  
  
  .btn:hover {
    box-shadow: 0px 0px 5px lightgreen;
    
  
  }
  
  #hobbies {
    margin-top:0px;
    height:60vh;
    padding:20px;
    background-color: #eff9d6; 
  }

  #hobbies h2{
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    color:#0a540a;
  }
  @media  only screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
#hobbies {
  height: 100vh;
}
#about h4 {
  font-size:32px;
  top:38%;
  left:55%;
}

  }


.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width:100%;
    max-height:100%;
}
  .contact h2 {
    color:#006400;
  }

  .contact {
    background-color:#f7ffe5;
    padding: 20px;
    text-align:center;
    margin:0px;
  }

  .contact input, .contact textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }

  .contact button {
    background-color:darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
